<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Corona Virus Tracker Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
	crossorigin="anonymous">


</head>

<body>

	<div class="container-fluid">
	
	

	<div class="row container-fluid justify-content-center">
	<div class="col-6">
	<div class="m-2 p-4 card text-center">
				<div class="card-header">Total Confirmed Cases</div>
				<div class="card-body">
					<h1 class="card-title" >[[${confirmedGlobal}]]</h1>
					
					
				</div>
				<div class="card-footer ">World</div>
			</div>
	</div>
	
	<div class="col-6">
	<div class=" m-2 p-4 card text-center">
				<div class="card-header">Total Deaths</div>
				<div class="card-body">
					<h1 class="card-title">[[${deathsGlobal}]]</h1>
					
					
				</div>
				<div class="card-footer ">World</div>
			</div>
	</div>
	</div>
		<div class="row container-fluid justify-content-center">

			
			
			
			<div class="col-3 m-2 p-4 card text-center">
				<div class="card-header">Total Confirmed Cases</div>
				<div class="card-body">
					<h1 class="card-title">[[${confirmedLocal}]]</h1>
					
					
				</div>
				<div class="card-footer ">Sri Lanka</div>
			</div>

	<div class="col-3 m-2 p-4 card text-center">
				<div class="card-header">Daily change</div>
				<div class="card-body">
					<h1 class="card-title">[[${dailyLocal}]]</h1>
					
					
				</div>
				<div class="card-footer ">Sri Lanka</div>
			</div>
			
			

		</div>
		
		<div class="row container-fluid justify-content-center">

			<div class="col-3 m-2 p-4 card text-center">
				<div class="card-header">Total Active Cases</div>
				<div class="card-body">
					<h1 class="card-title">[[${activeLocal}]]</h1>
					
					
				</div>
				<div class="card-footer ">Sri Lanka</div>
			</div>
			
			
			

	<div class="col-3 m-2 p-4 card text-center">
				<div class="card-header">Total Deaths</div>
				<div class="card-body">
					<h1 class="card-title">[[${deathsLocal}]]</h1>
					
				</div>
				<div class="card-footer ">Sri Lanka</div>
			</div>
			
			

		</div>
		
	</div>

</body>

</html>